<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Example Component</div>

                    <div class="panel-body">
                        I'm an example component!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <article v-for="item in items.data">
        <div class="col s6 m4 l3">
            <div class="card">
                <a v-bind:href="items.path + '/detail/' + item.id">
                    <div class="card-image"
                        :style="{ background: 'url(/' + item.front_image + ') top left/ contain no-repeat' }">
                        <span class="discout"
                                 v-if="item.front_discount"
                                 v-text="'-' + (100 * item.front_discount / item.front_price) + '%'">
                       </span>
                        <!-- <span class="almostGone">Almost Gone!</span>  -->
                        <!-- <span class="almostGone">{ item.front_image }</span>  -->
                    </div>
                </a>

                <div class="card-content">
                    <p class="price">
                        <i class="fa fa-dollar"></i>
                            <span
                               v-text="item.front_discount ? item.front_price - item.front_discount : item.front_price">
                           </span>

                           <small class="oldPrice"
                               v-if="item.front_discount"
                               v-html="'<i class=\'fa fa-dollar\'></i>' + item.front_price">
                            </small>

                            <br/>
                           <small class="sold">10k+ bought this</small>
                    </p>
                </div>

            </div>
        </div>
    Add a comment to this line
    </article>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
