<template>
    

    <section id="popupCart">

        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12">
                            <div class="noOfItemOnCart">
                                <i class="fa fa-shopping-bag fa-2x"></i>

                                <span 
                                    v-text="cartItems() + ' Items'">
                                </span>

                                <button id="cartCloseBtn" class="waves-effect waves-light pull-right grey lighten-2">Close</button>
                            </div>                                

                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col s12">
                            <table class="centered bordered" > 

                                <tbody v-if="cartItems() > 0">
                                    <tr
                                        v-for="item in cart">
                                            <td width="15%">
                                                <img 
                                                    class="responsive-img popupImg"
                                                    :style="{ background: 'url(' + baseUrl + '/' +  item.options.image + ')  top left / contain no-repeat' }" />
                                            </td>
                                            <td width="60%"
                                                v-html="item.name">
                                            </td>
                                            <td width="20%">৳ 
                                                <span 
                                                    v-html="item.options.discount 
                                                        ? ( item.qty * (item.price - item.options.discount) ) 
                                                        : ( item.qty * item.price )">
                                                </span>
                                            </td>
                                            <td width="5%">
                                                <i class="fa fa-times"
                                                    @click.prevent="deleteItem(item.rowId)">
                                                </i>
                                            </td>
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td colspan="4">No Items</td>
                                    </tr>                                    
                                </tbody>

                            </table>

                        </div>
                    </div> <!-- /.row -->

                    <div class="row" style="">
                        <div class="col s12">
                            <a :href="baseUrl + '/my-cart'" class="waves-effect waves-light btn viewCartFixedBtn orange">View Cart</a>     

                        </div>
                    </div>

                </div> <!-- /.col -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section> <!-- /#popupCart -->

</template>
 
<script>
    // import eventHub from './../app.js'
    export default {
        data() {
            return  {
                cart: [],
                baseUrl
            }
        } ,
        created() {
            if(typeof cartContent === "undefined"){
                axios.get( baseUrl + '/cart')
                    .then(response =>{
                        this.updateCart(response.data)
                    })
                    .catch(error => {
                        alert('Something went Wrong');
                    });                
            } else {
                this.updateCart(cartContent);
            }

            this.eventHub.$on('updateCart', this.updateCart);
        },
        methods: {
            updateCart(data){
                this.cart = data;
                this.eventHub.$emit('itemsInCart', this.cartItems());
            },
            cartItems() {
                return _.size(this.cart);
            },
            deleteItem(rowId) {
                axios.get( baseUrl + '/cart/delete/' + rowId)
                    .then(response => {
                        this.eventHub.$emit('updateCart', response.data);
                        // this.cart = response.data;
                    })
                    .catch(error => {
                        alert('Something went Wrong');
                    });
            }
        }
    }
</script>
