@media only screen and (min-width: 1200px) {
    #mainHeader{
        width: 100%;
    }
    .container {
        width: 100%;
        margin: 0 auto;
    }
    /* product section */
    .productArea{
        width: 1000px;
    }

}

@media only screen and (max-width: 850px) {
    /* header section */


    /*customer support start*/ 
    .customarSupport{
        top: 100px;
        height: 300px;
    }

    /* Product card */

    .card .card-image {
        max-height: 200px;
        width: 100%;

    }
}

@media only screen and (max-width: 750px) {

    /* Product card */

    .card .card-image {
        max-height: 175px;
        width: 100%;

    }
}

@media only screen and (max-width: 600px) {
    /*header section*/

    .bannerHeader li:first-child {
        padding-top: 0px;
        width: 65%;
        text-align: center;
    }
    .bannerHeader li a img.responsive-img.logoMain {
        width: 100%;
        float: none;
    }
    /*customer support start*/ 
    .customarSupport{
        position: fixed;
        top: 120px;
        height: auto;
        background: transparent;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        cursor: pointer;
        transition: all 300ms linear;
    }
    .customarSupport:hover{
        opacity: .7;
        box-shadow: 1px 1px 10px 1px rgba(11,11,11,.2);
    }
    .customarSupport ul{
        display: none;
    }    
    /*customer support end*/ 



}




@media only screen and (max-width: 550px) {
    /*single product*/

    .singleProduct .pgwSlideshow .ps-current {
        height: 300px !important;
    }

    .singleProduct .tabs .tab a {
        font-size: 12px;
        font-weight: 400;

    }

}
@media only screen and (max-width: 400px) {
    /* header section */
    .google{
        display: none;
    }
    .logoMain{
        text-align: center;
    }
    .bannerHeader li:first-child{
        width: 100%;
        text-align: center;
    }
    .bannerHeader li a img.responsive-img.logoMain {
        width: 100%;
        float: none;
    }


    /*customer support start*/ 
    .customarSupport{
        top: 120px;
        height: 300px;
    }

    /* Product card */

    .productArea > .row > .s11 > div > div{
        width: 48%;
        margin: 0 auto;
    }
    .productArea{
        padding-bottom: 25px;
        margin-bottom: 30px;
    }
    .card{
        border-bottom: 2px solid rgba(111,111,111,.5);
        padding-bottom: 10px;
    }
    .card .card-image {
        max-height: 150px;
        width: 100%;

    }
    .card .card-image > img{
        height: auto;
        max-height: 100%;
    }

    /*single product*/

    .singleProduct .pgwSlideshow .ps-current {
        height: 220px !important;
    }

    .singleProduct .tabs .tab a {
        font-size: 12px;
        font-weight: 400;

    }


}

@media only screen and (max-width: 300px) {

    /* Product card */

    .card .card-image {
        max-height: 120px;
        width: 100%;

    }
    /*single product*/

    .singleProduct .pgwSlideshow .ps-current {
        height: 170px !important;
    }

    .singleProduct .tabs .tab a {
        font-size: 10px;
        font-weight: 400;

    }
}


@media only screen and (max-width: 250px) {

    /* Product card */

    .card .card-image {
        max-height: 95px;
        width: 100%;

    }

}

