/* Main Header section */

#mainHeader{

    background: #4FC3F7;
    position: fixed;
    height: 55px;
    overflow: hidden;
    z-index: 999;
    box-sizing: border-box;
    padding-top: 10px;
    width: 100%;
}
nav.nav-extended .nav-wrapper{
    min-height: 45px;
    box-shadow: 0px 0px 1px 3px #4fc3f7;
}
.shoppingCartImg{
    padding-top: 14px;
    display: inline-block;
}
.bannerHeader{
    display: block;
}   
.bannerHeader li{
    width: 130px;
    float: left;
    display: inline-block;

} 
.bannerHeader li:first-child{
    padding-top: 0px;
    width: 36%;
}
#mainHeader nav ul.bannerHeader a{
    padding: 0px 5px;
}
.bannerHeader li a img.responsive-img{
    float: left;
    width: 100%;
}   

#mainHeader .searchButton{
    background: #fff;
    position: relative;
    height: 32px;
    top: 2px;
}
#mainHeader .searchButton input{

    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    text-indent: 10%;
    color: #111;
    margin: 0px;
    display: block; 
}
#mainHeader .searchButton i{    
    position: absolute;
    top: -15px;
    left: 2%;
    height: 50%;
    color: #ddd;
    width: 150px;
    z-index: 100;
    text-shadow: 0px 0px 0px transparent;
}
#nav-mobile a{
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0px 15px;
    cursor: pointer;
    margin-top: -12px;
}
#nav-mobile li{
    position: relative;
}
#nav-mobile li a{}
#nav-mobile li a sup{
    position: absolute;
    top: -5px;
    right: -5px;
    background: #fff;
    color: #f00;
    height: 17px;
    width: 17px;
    padding-top: 9px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    padding-right: 2px;
    font-weight: 700;
}

/* end header section */ 

/*nav tab section start*/

#navTabs{
    background: #4FC3F7;
    position: fixed;
    height: 50px;
    overflow: hidden;
    z-index: 102;
    box-sizing: border-box;
    top: 55px;
    width: 100%;
    text-align: center;
}
#navTabs .mainMenu{
    position: absolute;
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 100%;
    width: 100%;
    background-color: #4fc3f7;
    margin: 0 auto;
    white-space: nowrap;
    color: #fff;
    bottom: 1px;
}
#navTabs .mainMenu li{
    transition: all linear 100ms;
}
#navTabs .mainMenu li:hover{
    border-bottom: 5px solid #fff;
}
#navTabs .mainMenu li.active{    
    border-bottom: 5px solid #fff;
}
#navTabs .mainMenu li a{
    color: #fff;
    text-transform: capitalize;
    vertical-align: middle;
    font-weight: 700;
}
#navTabs .mainMenu li a:hover{}
#navTabs .mainMenu .indicator {
    position: absolute;
    bottom: 0px;
    height: 5px;
    background-color: #ffffff;
    will-change: left, right;
}
/*nav tab section end */

/*customer support start*/ 
.customarSupport{
    position: fixed;
    top: 170px;
    height: 300px;
    background: #EFEFEF;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 300ms linear;
}
.customarSupport:hover{
    opacity: .7;
    box-shadow: 1px 1px 10px 1px rgba(11,11,11,.2);
}
.customarSupport ul{
    display: block;
    height: 80%;
    position: relative;
    left: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
}
.customarSupport li{
    height: 14px;
    display: block;
    width: 14px;
    color: rgba(11,11,11,.8);
    margin-bottom: 0px;
    margin-left: 5px;

}
.customarSupport li:first-child::first-letter{
    color: #f00;
    font-weight: 700;
    font-size: 18px;

}
/*customer support end*/ 


/* product section */

.productArea{
    position: relative;
    top: 100px;
    margin: 0 auto;
    padding-top: 20px;
}

.page .card{
    box-shadow: none;
    transition: all 300ms linear;
}
.page .card:hover{
    cursor: pointer;
    //box-shadow: 0px 0px 1px 7px  #ccc;
    border-radius: 0px;
    transform: scale(1.1);
}
.page .card .card-image {
    position: relative;
    height: 230px;
}
.page .card .card-image .discout{
    position: absolute;
    left: 0%; 
    top: 12px;
    color: #FFFFFF;
    background: #d4882a;
    padding: 1px 5px; 
    font-size: 100%;
    transform: rotate(-45deg);
    border-radius: 10%;
}
.page .card .card-image .almostGone{
    position: absolute;
    right: 0%; 
    bottom: -4.7%;
    color: #FFFFFF;
    background: #d4882a;
    padding: 1px 5px; 
    font-size: 80%; 
}
.page .card .card-image > img{
    height: 100%;
    width: 100%;
}
.page .card .card-content {
    padding: 5px 0 0 0px;
    border-radius: 0 0 2px 2px;
}
/* Price */
.oldPrice{
    text-decoration: line-through;
}

.price  small {
    font-size: 70%;
    color: rgba(68, 64, 64, 0.63);
}

/* help page content section */

/*FAQ*/
.productArea .collapsible-header > .faqTitle{
    font-size: 18px;
    margin-top: -2px;
}

.page .contentTopic{
    font-size: 14px;
    font-weight: 600;
}

.productArea .topicDetails{
    margin-left: 0px;
}
.productArea .pageContentSection{    
    overflow: hidden;
}
.productArea .pageContentSection > div:first-of-type{
    border: 1px solid #ccc; 
    padding: 10px 25px;
}
.productArea .pageContentSection .onPageTitle{    
    border-bottom: 1px dotted #ddd;
    padding-bottom: 15px;
}
.productArea .pageContentSection > div:first-of-type .collapsible {
    border-top: 0px solid #ddd;
    border-right: 0px solid #ddd; 
    border-left: 0px solid #ddd; 
    margin: .5rem 0 1rem 0;
    box-shadow: none;
}
.productArea .pageContentSection .collection{
    margin-top: 0px;
}
.productArea .pageContentSection .collection .collection-header{
    list-style: none;
}
.productArea .pageContentSection .collection .collection-header *{
    font-size: 16px;
    font-weight: 600;
    background-color: #DAE2E8;
    padding:20px;
    margin-top: 0px;    
}
.productArea .pageContentSection .collection a{
    color: #444;
}

/*help section end*/




/*footer secton*/ 

.page-footer {
    background: transparent;
    position: relative;
    padding-top:  0px;
}
.page-footer .footer-copyright{
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid rgba(11,11,11,.1);
    color: rgba(1,1, 1, .7);
    background-color: #FAFAFA;
    padding: 0px;
    min-height: 12px;
    margin-bottom: -15px;
    padding-top: 10px;
    height: auto;
    z-index: 1005;
}
.page-footer > div > div  a{
    padding: 0 10px; 
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    color: rgba(1,1, 1, .6);
    text-transform: capitalize;
}
.page-footer > div > div  a:hover{
    text-decoration: underline;
}
.page-footer > div > div  a:first-child{
    border: 1px solid rgba(1,1,1,.5);
    border-radius: 10px;
}

/*signle product*/ 
.singleProduct{
    color: #666;
}

.singleProduct .pgwSlideshow {
    background: #fff;
}
.singleProduct .pgwSlideshow .ps-list{
    background: #fff;
    border-top: 1px solid #fff;
    box-shadow: 0 10px 10px -5px #fff inset
}

.singleProduct .pgwSlideshow .ps-current{
    height: 380px !important; 
}
.singleProduct .pgwSlideshow .ps-caption{
    display: none;
    visibility: hidden;
}
.singleProduct .pgwSlideshow .ps-current>ul>li img {
    display: block;
    max-width: 70%;
    margin: auto;
    height: auto;
}
.singleProduct .pgwSlideshow .ps-current .ps-prev , .singleProduct .pgwSlideshow .ps-current .ps-next{
    display: none;
    visibility: hidden;
    z-index: 99;
}
.singleProduct select{
    display: block;
    border: 1px solid #ddd;
}
.singleProduct .singleTitle{
    font-size: 20px;
    text-align: left;
    color: #666;
}
.singleProduct .singlePrice{
    font-size: 28px;
    font-weight: 400;
}
.singleProduct .singlePriceOld{
    font-size: 20px;
    text-decoration: line-through;
}

/*Tabs on single product */

.singleProduct #tabs-swipe + .tabs-content{
    min-height: 600px;
    max-height:100% !important;
    height: 500px !important; 
    display: block;
}
.singleProduct .tabs{
    border-bottom: 1px solid #111;    
    margin-bottom: 15px;
}
.singleProduct .tabs .tab a {
    color: #111;
    width: auto;
    padding: 0px;
    text-align: center;
    font-weight: 700;
}
.singleProduct .tabs .tab a:hover,.singleProduct .tabs .tab a.active{
    /*    color: #111;*/
    border-bottom: 7px solid #333;
}
.singleProduct .tabs .indicator{
    background-color: #111;
}
.totalRatings{
    text-decoration: underline;
    font-size: 20px;
}
/*Rating section*/ 
.ratingSection{}
.ratingSection .ratingByImg{
    height: 60px;
    width: 60px;
    background: red;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
}
.ratingSection .ratingBy{
    font-size: 16px;
    line-height: 60%;
    margin: 0;
    margin-bottom: -5px;
}
.ratingSection .ratingBy strong{
    margin-left: 10px;
}
.ratingSection .ratingText{
    margin-bottom: 0px;
    font-size: 14px;
}
.ratingSection .ratingTime{
    font-size: 12px;
    font-style: italic;
    color: rgba(111,111,111,.6)
}

.cartPage{}
.cartPage .cartPageHeading{
    font-size: 26px;
    font-weight: 700;
}
.cartPage .cartPageIcon{
    width: 70%;
    margin: 0 auto;
}
.cartPage .cartPageIcon *{
    font-size: 130px;
}
.cartPage .cartEmpty {
    margin: 30px auto;
}
.cartItemThumb {
    background-position: left top;
    background-repeat: no-repeat;
    width: 170px;
    height: 175px;
    background-size: cover;
    background-color: white;
    margin-bottom: 10px;
}
.cartItemInfo{
    color: #555;
    position: relative;
    padding-right: 20px;
}
.cartItemInfo .fa{
    position: absolute;
    height: 16px;
    width: 16px;
    background: rgba(110,110,110,.5);
    top: -20px;
    right: 0px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    line-height: 15px;
}
.cartItemInfo > *{
    margin: 10px 0 10px 0;
}
.cartItemInfo .cartItemColor {
    margin-left: 30px;
}
.cartItemInfo .cartItemTitle {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    opacity: .8;
}
.cartItemInfo select{
    display: inline-block;
    width: 15%;
    height: 30px;
    border: 1px solid rgba(111,111,111,.3);
}
.cartItemInfo .cartItemPrice{
    font-size: 18px;
    font-weight: 600;
}
.cartItemInfo .cartItemPriceOld{
    text-decoration: line-through;
    font-size: 16px;
    font-weight: 400;
    padding-right: 15px;
}
.cartPage .orderSummary {
    margin-bottom: 20px;
}

.cartPage .orderTotal {
    font-weight: 700;
    font-size: 18px;
}

/*popup cart display css starts here*/
#popupCart{}

#popupCart{
    display: none;
    position: fixed;
    z-index: 10000;
    right: 0%;
    bottom: 6.5%;
    height: 502px;
    width: 360px;
    background: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 1px #bbb inset;
    padding: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: rgba(11,11,11,.6);
}

#popupCart .popupImg{
    width:35px;;
    height: 35px;
    box-shadow: 0px 0px 7px 3px #ddd;
}
#popupCart table .fa.fa-times{
    color: #f5f5f5;
    width: 14px;
    height: 15px;
    background: rgba(111,111,111,1);
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
}

#popupCart .viewCartFixedBtn{
    position: fixed;
    z-index: 9999;
    right: 0%;
    bottom: 6.5%;
}



/*ship to start */


#shipTo{}
#shipTo nav{
    height: 50px;
    line-height: 50px;
    margin-top: 25px;
    position: relative;
}

.shipItemThumb {
    background-position: left top;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    background-size: cover;
    background-color: white;
    margin-bottom: 10px;
}
.shipPageHeading{
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    text-indent: 10px;
}
#shipTo .shippingOptions{}
#shipTo .shippingOptions{
    min-height: 60px;
}
#shipTo .shippingOptions.tabs .indicator{    
    height: 5px;
    background-color: #383131;
}

.notificationRightBar{
    border: 1px solid rgba(11,11,11,.2);
    overflow: hidden;
}


/*buttons*/
.btn-block{
    width: 100%;
    color: #fff;
    background: #ea9c51;
}

.ps-list{
    z-index: 99;
}