<template>
	
    <article>

        <div class="row">
            <div class="col s12">
                <div class="col s12 m5 l4">

                    <div class="cartItemThumb" 
                    	:style="{ 'background-image': 'url(' + baseUrl + '/' +  item.options.image + ')' }" >
                    </div>
                    <i class="material-icons light-blue-text tiny">star</i>
                    <i class="material-icons light-blue-text tiny">star</i>
                    <i class="material-icons light-blue-text tiny">star</i>
                    <i class="material-icons light-blue-text tiny">star</i>
                    <i class="material-icons tiny">star</i>
                    ( <span class="totalRatings">1010</span> )

                </div>
                <div class="col s12 m7 l8 cartItemInfo ">
                    <h5 class="cartItemTitle"
                    	v-text	="item.name">
                    </h5>

                    <p class="cartItemSize">
                    	
                    	<span
                    		v-if="item.options.size"
                    		v-text="'Size: ' + item.options.size">
                		</span>

                    	<span class="cartItemColor"
                    		v-if="item.options.color"
                    		v-text="'Color: ' + item.options.color">
                		</span>

                	</p>                                

                    <form>
                        Quantity : 
                        <select
                        	v-model="item.qty"
                        	@change="updateQuantity(item.rowId, item.qty)">

                            	<option 
                            		v-for="n in maxQuantity()" 
                            		:value="n"
                                    v-text="n" >
                            	</option>

                        </select>
                        <img src="images/lodar-bar.gif" alt="quantity lodar" 
                        	v-show="loading"/>
                    </form>
                    <!-- <p class="cartItemShipping">Shipping : $8.00</p>
                    <p class="cartItemArrival">Estimated Arrival: Sep 2 - Sep 5</p> -->

                    <p class="cartItemPrice">
                    	<span class="cartItemPriceOld"
                    		v-text="item.options.discount 
                    			? '$' + item.price * item.qty 
                    			: ''">
                		</span>
                    	<span
                    		v-text="item.options.discount 
                    			? '$' + ( (item.price - item.options.discount) * item.qty) 
                    			: '$' + item.price * item.qty ">
                		</span>
                	 </p>
                    <a href="#"
                    	@click.prevent="deleteItem(item.rowId)">
                    	<i class="fa fa-times"></i>
                	</a>
                </div>
            </div>
        </div>  <!-- /.row -->

    <hr class="hide-on-med-and-up" />
    </article>

</template>

<script>
	export default {
		props: ['item'],
		data() {
            return  {
                baseUrl,
                cartProductMaxQuantity,
                loading: false
            }
        },
        // created() {
        //     // this.cartProductMaxQuantity = _.range(1, this.cartProductMaxQuantity[this.item.id]);
        //     this.cartProductMaxQuantity = parseInt(this.cartProductMaxQuantity[this.item.id]);
        // },
        methods: {    
            maxQuantity() {
                return parseInt(this.cartProductMaxQuantity[this.item.id]);
            },
            updateQuantity(rowId, qty) {
                this.loading = true;
                axios.get( baseUrl + '/cart/update/' + rowId + '/' + qty )
                    .then(response => {
                        this.eventHub.$emit('updateCart', response.data);
                		this.loading = false;
                    })
                    .catch(error => {
                        alert('Something went Wrong');
                    });

            },
            deleteItem(rowId) {
                axios.get( baseUrl + '/cart/delete/' + rowId)
                    .then(response => {
                        this.eventHub.$emit('updateCart', response.data);
                })
                    .catch(error => {
                        alert('Something went Wrong');
                });
            }
        }
	}
	
</script>