<template>
	
    <div class="container">
        
        <div class="row"
        	v-if="cartItems() == 0">
                <div class="col s10 offset-s1  l12">
                    <h2 class="cartPageHeading">SHOPPING CART</h2>
                    <div class="col s10 m6 l4 xl3 offset-s1 offset-m4 offset-l4 offset-xl5">
                        <div class="cartPageIcon">
                            <i class=" grey-text fa fa-cart fa-shopping-cart fa-5x"></i>
                        </div>
                        <h5 class="grey-text cartEmpty">Your cart is empty!</h5>

                        <a class="waves-effect waves-light btn light-blue lighten-2" 
                        	:href="baseUrl">
                        		Start Shopping
                		</a>

                    </div>
                </div>
        </div>
        
        <div class="row"
         	v-else>
                <div class="col s10 offset-s1 l12">
                    <div class="row">
                        <aside id="shoppingCart">
                            <div class="col m12 l9" style="background: none;">
                                <h2 class="cartPageHeading">SHOPPING CART</h2>

                                <cart-item
                                    v-for="item in cart"
                                    :item="item"
                                    :key="item.id">
                                </cart-item>

                            </div>  <!-- /.col -->
                        </aside>
                        <aside id="orderSummary">
                            <div class="col m12 l3">
                                <div class="row">
                                    <div class="col s12  grey lighten-4">
                                        <h2 class="orderSummary cartPageHeading">ORDER SUMMARY</h2>
                                        <h6 class="orderSummary itemTotal">Item Total: 
                                        
                                            <span class="pull-right"
                                                v-html="itemTotal()">$49
                                            </span>

                                        </h6>
                                        <!-- <h6 class="orderSummary estimatedShipping">Estimated Shipping: <span class="pull-right">$49</span></h6> -->
                                        <h5 class="orderSummary orderTotal">ORDER TOTAL: 
                                            <span class="pull-right"                        
                                                v-html="itemTotal()">
                                                $49
                                            </span>
                                            </h5>
                                    </div>
                                    <div class="col s12"></div>
                                </div>
                                <div class="row">
                                    <a 
                                    :href="baseUrl + '/shipping'" 
                                    class="waves-effect waves-light btn btn-block" >
                                        Checkout
                                    </a>
                                </div>

                            </div>  <!-- /.col -->
                        </aside>

                    </div> <!-- /.row -->

                </div> <!-- /.col -->
        </div> <!-- /.row -->

    </div>
</template>

<script>
    import CartItem from './CartItem'
	export default {
        components: {
            'cart-item' : CartItem 
        },
		data() {
            return  {
                cart: [],
                baseUrl,
                cartProductMaxQuantity
            }
        },
        created() {
        	this.updateCart(cartContent);
            this.eventHub.$on('updateCart', this.updateCart);
            // console.log(this.cart);
        },
        methods: {
            updateCart(data){
                this.cart = data;
                // this.eventHub.$emit('itemsInCart', this.cartItems());
            },
            cartItems() {
                return _.size(this.cart);
            },
            itemTotal() {
                let total = 0;
                _.forEach(this.cart, (value, key) => {
                    // console.log(value.qty);
                    if( value.options.discount ) {
                        total += (value.qty * ( value.price - value.options.discount ) );
                    } else {
                        total += (value.qty * value.price );
                    }
                });
                return '$' + total;
            }
        }
	}
</script>