<template>

    <article class="singleProduct" id="product-detail">
        <div class="row">

            <div class="col s12 m7 l7 ">

                <ul class="pgwSlideshow">
                    <li v-for="image in item.images" >
                        <img alt="San Francisco, USA" data-description="Golden Gate Bridge"
                            :src=" baseUrl + '/' + image.large_image" >
                    </li>
                </ul>

            </div>

            <div class="col s12 m4 l4 offset-l1">

                <h3 class="singleTitle"
                    v-text="item.title"></h3>
                <!-- <div class="row">
                    <i class="material-icons light-blue-text tiny">star</i>
                    <i class="material-icons light-blue-text tiny">star</i>
                    <i class="material-icons light-blue-text tiny">star</i>
                    <i class="material-icons light-blue-text tiny">star</i>
                    <i class="material-icons light-blue-text tiny">star</i>
                    <span class="totalRatings" style="text-decoration: underline; ">(1010)</span>
                </div> -->

                <h4 class="singlePrice">
                    <small class="singlePriceOld"
                        v-if="item.front_discount">
                            <!-- <i class="fa fa-dollar"></i> -->
                            <span
                                v-text="'৳' + item.front_price">
                            </span>
                    </small>
                    <!-- <i class="fa fa-dollar"></i> -->
                    <span
                        v-text="'৳' + (item.front_discount ? item.front_price - item.front_discount : item.front_price)">
                    </span>
                </h4>

                <div class="row"
                    v-if="distinctSize(item.manage).length > 0">

                    <select
                        name="size"
                        v-model="selectedSize"
                        @change="findManageProduct( selectedColor, selectedSize)">
                        <option value=null disabled selected>Choose a Size</option>
                        <option
                            v-for="value in distinctSize(item.manage)"
                            :value="value"
                            v-text="value">

                        </option>
                    </select>

                </div>

                <div class="row"
                    v-if="distinctColor(item.manage).length > 0">

                    <select
                        name="color"
                        v-model="selectedColor"
                        @change="findManageProduct( selectedColor, selectedSize)">

                        <option value=null disabled selected>Choose a Color</option>
                        <option
                            v-for="value in distinctColor(item.manage)"
                            :value="value"
                            v-text="value">
                        </option>

                    </select>
                </div>


                <div class="row">
                    <a class="waves-effect waves-light btn btn-block btn-buy orange lighten-1 white-text"
                        @click="addToCart">
                        <i class="fa fa-cart-arrow-down"></i> Buy
                    </a>
                </div>
                <!-- <div class="row">
                    <a class="waves-effect waves-light btn btn-block btn-save grey lighten-3 black-text"><i class="fa fa-heart-o"></i> Save</a>
                </div> -->

            </div>  <!-- /.col -->

        </div>   <!-- /.row -->

        <div class="row">
            <div class="col s12">

                <ul id="tabs-swipe" class="tabs">
                    <li class="tab col s2 "><a class="active"  href="#description">Description</a></li>
                    <!-- <li class="tab col s2 hide-on-small-and-down"><a href="#overview">Overview</a></li> -->
                    <li class="tab col s2"><a  href="#related">Related Products</a></li>
                    <!-- <li class="tab col s2 hide-on-small-and-down"><a href="#ratings">Ratings</a></li> -->
                    <li class="tab col s2"><a href="#shipping">Shipping</a></li>
                </ul>

                <!--Description of the product tab-->

                <div id="description" class="col s12" v-html="item.description">

                </div>

                <!--Overview of the Product tab -->
<!-- 
                <div id="overview" class="col s12 hide-on-small-and-down">
                    <div class="row">
                        <div class="productFeatures">

                            <div class="col s12 m8 l8">
                                <div class="row">
                                    <div class="col s12">
                                        <h6><strong>Recent Reviews</strong><a href="" class="pull-right">View All</a></h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m4">
                                        <i class="material-icons light-blue-text tiny">star</i>
                                        <i class="material-icons light-blue-text tiny">star</i>
                                        <i class="material-icons light-blue-text tiny">star</i>
                                        <i class="material-icons light-blue-text tiny">star</i>
                                        <i class="material-icons light-blue-text tiny">star</i>
                                    </div>
                                    <div class="col s12 m8">
                                        <strong>Ishtiak Rahman APK</strong>
                                        <p>Item fit just right...nice</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m4">
                                        <i class="material-icons light-blue-text tiny">star</i>
                                        <i class="material-icons light-blue-text tiny">star</i>
                                        <i class="material-icons light-blue-text tiny">star</i>
                                        <i class="material-icons light-blue-text tiny">star</i>
                                        <i class="material-icons tiny">star</i>
                                    </div>
                                    <div class="col s12 m8">
                                        <strong>Nur a alam LB</strong>
                                        <p>Feels just perfect. Will order more again in diff color.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m4">
                                        <i class="material-icons light-blue-text tiny">star</i>
                                        <i class="material-icons light-blue-text tiny">star</i>
                                        <i class="material-icons light-blue-text tiny">star</i>
                                        <i class="material-icons  tiny">star</i>
                                        <i class="material-icons  tiny">star</i>
                                    </div>
                                    <div class="col s12 m8">
                                        <strong>Asaduzzaman Asad</strong>
                                        <p>top quality ..speedy service... and looks ausum on..</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                        <h6><strong>Recent Reviews</strong><a href="" class="pull-right">View All</a></h6>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m4">
                                        Too Small
                                    </div>
                                    <div class="col s12 m8">
                                        <div class="progress">
                                            <div class="determinate light-blue lighten-3" style="width: 40%"></div>
                                        </div>
                                    </div>
                                    <div class="col s12 m4">
                                        Just Right
                                    </div>
                                    <div class="col s12 m8">
                                        <div class="progress">
                                            <div class="determinate light-blue lighten-3" style="width: 60%"></div>
                                        </div>
                                    </div>
                                    <div class="col s12 m4">
                                        Too Large
                                    </div>
                                    <div class="col s12 m8">
                                        <div class="progress">
                                            <div class="determinate light-blue lighten-3" style="width: 10%"></div>
                                        </div>
                                    </div>


                                </div>



                            </div> 
                            <div class="col s12 m4 l3 offset-l1">
                                <div class="row">
                                    <div class="col s12">
                                        <h6><strong>Estimated Arrival</strong></h6>
                                        <p>Aug 31 - Sep 10</p>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <h6><strong>Estimated Shipping</strong></h6>
                                        <p><i class="fa fa-doller"></i>$1 USD</p>

                                    </div>
                                </div>

                            </div>

                        </div> 
                    </div>

                </div>
                 -->

                <!--Related Products Tab-->

                <div id="related" class="col s12  ">

                    <div class="col s11 m10 l10 xl12 offset-l1 offset-m1 offset-s1">

                        <div class="row">
                            <product-list></product-list>
                        </div>

                    </div>
                </div>

                <!--Ratings Tab-->
<!-- 
                <div id="ratings" class="col s12 hide-on-small-and-down ">
                    <div class="row">
                        <div class="col s12 m10 112 offset-l0">
                            <i class="material-icons light-blue-text small">star</i>
                            <i class="material-icons light-blue-text small">star</i>
                            <i class="material-icons light-blue-text small">star</i>
                            <i class="material-icons light-blue-text small">star</i>
                            <i class="material-icons grey-text small">star</i>
                            ( <span class="totalRatings">1804</span> )
                        </div>
                    </div> 

                    <div class="row">
                        <div class="col s12 m6 l4">
                            <div class="row">
                                <div class="col s7">
                                    <div class="ratingStars fiveStar pull-right">
                                        <i class="material-icons grey-text tiny">star</i>
                                        <i class="material-icons grey-text tiny">star</i>
                                        <i class="material-icons grey-text tiny">star</i>
                                        <i class="material-icons grey-text tiny">star</i>
                                        <i class="material-icons grey-text tiny">star</i>

                                    </div> 
                                </div>  

                                <div class="col s5">
                                    <div class="progress">
                                        <div class="determinate light-blue lighten-3" style="width: 70%"></div>
                                    </div>

                                </div> 
                                <div class="col s7">
                                    <div class="ratingStars fiveStar pull-right">
                                        <i class="material-icons grey-text tiny">star</i>
                                        <i class="material-icons grey-text tiny">star</i>
                                        <i class="material-icons grey-text tiny">star</i>
                                        <i class="material-icons grey-text tiny">star</i>

                                    </div>
                                </div>  

                                <div class="col s5">
                                    <div class="progress">
                                        <div class="determinate light-blue lighten-3" style="width: 50%"></div>
                                    </div>

                                </div>  
                                <div class="col s7">
                                    <div class="ratingStars fiveStar pull-right">
                                        <i class="material-icons grey-text tiny">star</i>
                                        <i class="material-icons grey-text tiny">star</i>
                                        <i class="material-icons grey-text tiny">star</i>

                                    </div> 
                                </div> 

                                <div class="col s5">
                                    <div class="progress">
                                        <div class="determinate light-blue lighten-3" style="width: 7%"></div>
                                    </div>

                                </div> 
                                <div class="col s7">
                                    <div class="ratingStars fiveStar pull-right">
                                        <i class="material-icons grey-text tiny">star</i>
                                        <i class="material-icons grey-text tiny">star</i>

                                    </div> 
                                </div>  

                                <div class="col s5">
                                    <div class="progress">
                                        <div class="determinate light-blue lighten-3" style="width: 3%"></div>
                                    </div>

                                </div> 
                                <div class="col s7">
                                    <div class="ratingStars fiveStar pull-right">
                                        <i class="material-icons grey-text tiny">star</i>

                                    </div> 
                                </div>  

                                <div class="col s5">
                                    <div class="progress">
                                        <div class="determinate light-blue lighten-3" style="width: 10%"></div>
                                    </div>

                                </div> 

                            </div> 

                        </div>  
                    </div> 

                    <div class="row">
                        <div class="col s12">
                            <div class="row ratingSection">
                                <div class="col  m2 l1">
                                    <div class="ratingByImg" style="background-image: url(images/users/asad.jpg)">
                                    </div>

                                </div> 
                                <div class="col m10 l10">

                                    <h6 class="ratingBy">
                                        <i class="material-icons light-blue-text tiny">star</i>
                                        <i class="material-icons light-blue-text tiny">star</i>
                                        <i class="material-icons light-blue-text tiny">star</i>
                                        <i class="material-icons light-blue-text tiny">star</i>
                                        <i class="material-icons grey-text tiny">star</i>
                                        <strong>Asaduzzaman Asad</strong>
                                    </h6>
                                    <p class="ratingText">
                                        It's good- seems to work pretty well. Hard to read the digits on it but works.
                                    </p>
                                    <small class="ratingTime">about a month ago</small>

                                </div> 
                            </div> 
                            <div class="row ratingSection">
                                <div class="col  m2 l1">
                                    <div class="ratingByImg" style="background-image: url(images/users/hasan.jpg)">

                                    </div>
                                  

                                </div>
                                <div class="col m10 l10">

                                    <h6 class="ratingBy">
                                        <i class="material-icons light-blue-text tiny">star</i>
                                        <i class="material-icons light-blue-text tiny">star</i>
                                        <i class="material-icons light-blue-text tiny">star</i>
                                        <i class="material-icons light-blue-text tiny">star</i>
                                        <i class="material-icons grey-text tiny">star</i>
                                        <strong>Mr Hasan Mollah</strong>
                                    </h6>
                                    <p class="ratingText">
                                        Awesome! Works GREAT.
                                    </p>
                                    <small class="ratingTime">about a month ago</small>

                                </div> 
                            </div> 

                        </div>
                    </div>

                </div> 
                 -->

                <!-- /#ratings -->

           
                <div id="shipping" class="col s12 ">
                    <h6 class="shippingTabTitle"><strong>Shipping Details</strong></h6>
                    <table class="bordered responsive-table">

                        <tbody>
                            <tr>
                                <td>Availability</td>
                                <td>$3 USD</td>
                            </tr>
                            <tr>
                                <td>Estimated Arrival</td>
                                <td>Ships to United States and 77 other countries</td>
                            </tr>
                            <tr>
                                <td>Estimated Shipping</td>
                                <td>Aug 31 - Sep 10</td>
                            </tr>
                            <tr>
                                <td>Return Policy</td>
                                <td>
                                    You may return all products within 30 days of delivery.
                                    <p class="moreDetailsModal"><a href="">More Details</a></p>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>   <!-- /.col -->


        </div>  <!-- /.row -->
    </article>
</template>

<script>
    import eventHub from './../../app.js'
    export default {

        data () {
            return {
                baseUrl,
                item: productDetail,
                selectedColor: null,
                selectedSize: null,
                buy: 0,
                relatedProduct: []
            }
        },
        created() {
            let color = (this.distinctColor(this.item.manage).length > 0);
            let size = (this.distinctSize(this.item.manage).length > 0);
            switch(true) {
                case ((!color) && (!size)):
                    this.buy = this.item.manage[0].id;
                    break;
                // case ((!size) && color):
                //     alert('Select Color');
                //     break;
                // case ((!color) && size):
                //     alert('Select Size');
                    // break;
                }
        },
        methods: {
            distinctColor(data){
                let f = [];
                data.filter(function (item){
                    if (! f.includes(item.color) && item.color )
                        f.push(item.color);
                });
             return f;
            },
            distinctSize(data){
                let f = [];
                data.filter(function (item){
                    if (! f.includes(item.size) && item.size )
                        f.push(item.size);
                });
             return f;
            },
            findManageProduct (selectedColor = null, selectedSize = null ) {
                // alert(selectedColor + selectedSize);
                let manage = this.item.manage.find( function(current){
                    return (current.color == selectedColor) && (current.size == selectedSize);
                });
                if(manage) {
                    this.buy = manage.id;
                } else {
                    this.buy = 0;
                }
            },
            addToCart () {
                if(this.buy != 0){
                    axios.get( this.baseUrl + '/cart/add/' + this.buy )
                        .then(response => {
                            this.eventHub.$emit('updateCart', response.data);
                        });

                } else {
                    let color = (this.distinctColor(this.item.manage).length > 0);
                    let size = (this.distinctSize(this.item.manage).length > 0);
                    switch(true) {
                        case (color && size):
                            alert('Select Color And Size');
                            break;
                        case (color && (!size)):
                            alert('Select Color');
                            break;
                        case ((!color) && size):
                            alert('Select Size');
                            break;
                        // case ((!color) && (!size)):
                        //     alert('Select Size');
                        //     break;
                    }
                }

                // if((!this.selectedColor) && (!this.selectedSize))
                //     alert("Please Select Color And Size");
                // if((!this.selectedColor))
                //     alert("Please Select Color");
                // if((!this.selectedSize))
                //     alert("Please Select Size");

            },
        }
    }
</script>