<template>
    <article>
        <div class="col s6 m4 l3">
            <div class="card">
                <a
                    :href="baseUrl + '/detail/' + item.id">
                        <div class="card-image"
                            :style="{ background: 'url(' + baseUrl + '/' +  item.front_image + ')  top left/ contain no-repeat' }">

                            <span class="discout"
                                v-if="item.front_discount"
                                v-text="'' + Math.floor(100 * item.front_discount / item.front_price) + '%'">
                            </span>

                            <!-- <span class="almostGone">Almost Gone!</span> -->
                        </div>
                </a>
                <div class="card-content">
                    <p class="price">
                        ৳
                        <!-- <i class="fa fa-dollar"></i> -->

                            <span
                                v-text="item.front_discount ? item.front_price - item.front_discount : item.front_price">
                            </span>
                            <small class="oldPrice"
                                v-if="item.front_discount"
                                v-html="'৳' + item.front_price">
                                <!-- v-html="'<i class=\'fa fa-dollar\'></i>' + item.front_price"> -->
                            </small>
                        <br/>
                        <!-- <small class="sold">10k+ bought this</small> -->
                    </p>
                </div>
            </div>
        </div>

    </article>
</template>

<script >
    export default {
        props: ['item'],
        data() {
            return  {
                // items,
                baseUrl,
            }
        },
        methods: {

        }
    }
</script>