<template>
    <div>
        <product
            v-for="item in items.data"
            :item="item"
            :key="item.id">
        </product>

        <infinite-loading
            :on-infinite="onInfinite"
            ref="infiniteLoading">
                <span slot="no-more">
                    No more Products
                </span>
                <span slot="no-results">
                    No more Products
                </span>
        </infinite-loading>

    </div>

</template>

<script>
    import Product from './Product'
    import InfiniteLoading from 'vue-infinite-loading'
    export default {
        components: {
            'product' : Product,
            InfiniteLoading
        },
        data() {
            return  {
                // items: products,
                items: [],
                baseUrl,
            }
        } ,
        methods: {
            onInfinite() {
                setTimeout(() => {
                if(this.items.next_page_url){
                    axios.get( this.items.next_page_url)
                        .then(response => {
                            // console.log(response.data);
                            // console.log(response.data.data.length);
                            for (let i = 0; i < response.data.data.length; i++) {
                                this.items.data.push(response.data.data[i]);
                            };
                            this.items.current_page = response.data.current_page;
                            this.items.from = response.data.from;
                            this.items.last_page = response.data.last_page;
                            this.items.next_page_url = response.data.next_page_url;
                            this.items.path = response.data.path;
                            this.items.per_page = response.data.per_page;
                            this.items.prev_page_url = response.data.prev_page_url;
                            this.items.to = response.data.to;
                            this.items.total = response.data.total;
                            if( this.items.next_page_url ){
                                this.$refs.infiniteLoading.$emit('$InfiniteLoading:loaded');
                            } else {
                                this.$refs.infiniteLoading.$emit('$InfiniteLoading:complete');
                            }
                        })
                        .catch(error => {
                            alert('Something went Wrong' + this.items.next_page_url);
                        });
                } else {
                    this.$refs.infiniteLoading.$emit('$InfiniteLoading:complete');
                }

                }, 1000);
            },
        },
        created() {
            if(typeof products === "undefined"){
                axios.get( baseUrl)
                .then(response =>{
                    this.items = response.data;
                    this.loading = false;
                    this.loadMore = true})
                .catch(error => {
                    alert('Something went Wrong');
                });
            } else {
                this.items = products;
            }
        },
    }
</script>
